.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.cards {
  display: inline-block;
  gap: 3rem;
  min-height: 50vh;
}
.card {
  transition: .3s ease-out;
  width: 200px;
  height: auto;
}
.--winner{
  width: 250px;
}